In [2]:
import pandas as pd
import numpy as np

In [15]:
lst = np.random.random(10)
lst

array([0.90175927, 0.34637375, 0.91707555, 0.62904955, 0.57647394,
       0.8233041 , 0.00241389, 0.83880062, 0.36125536, 0.67439126])

In [16]:
pd.DataFrame(lst, columns = ['random'])

     random
0  0.901759
1  0.346374
2  0.917076
3  0.629050
4  0.576474
5  0.823304
6  0.002414
7  0.838801
8  0.361255
9  0.674391

In [17]:
pd.Series(lst)

0    0.901759
1    0.346374
2    0.917076
3    0.629050
4    0.576474
5    0.823304
6    0.002414
7    0.838801
8    0.361255
9    0.674391
dtype: float64

In [18]:
pd.DataFrame(lst, columns = ['random']).random

0    0.901759
1    0.346374
2    0.917076
3    0.629050
4    0.576474
5    0.823304
6    0.002414
7    0.838801
8    0.361255
9    0.674391
Name: random, dtype: float64

In [19]:
lst_lst = np.random.random((5,2))
pd.DataFrame(lst_lst, columns= ['col1', 'col2'])

       col1      col2
0  0.450567  0.668476
1  0.295698  0.728049
2  0.872271  0.020317
3  0.221131  0.841809
4  0.324589  0.250475

In [8]:
d = {'key1':[1,2,3], 'key2':(1,2,3), 'key3':{4,3,2}}
d

{'key1': [1, 2, 3], 'key2': (1, 2, 3), 'key3': {2, 3, 4}}

In [9]:
a = pd.DataFrame(d)
print(a)

   key1  key2       key3
0     1     1  {2, 3, 4}
1     2     2  {2, 3, 4}
2     3     3  {2, 3, 4}

In [10]:
d = {'key1':[1,2,3], 'key2':(1,2,3), 'key3':{4,3,2}, 'key4':{'q1':1,'q2':2,'q3':3 }}
#doesn't work

In [20]:
pd.DataFrame(d).transpose()

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [ ]:
df = pd.DataFrame(d).from_dict(d, orient='index')

In [ ]:
df[1][1]

In [ ]:
a['key1'][2]

In [ ]:
print(a['key1'].sum())
print(a['key1'].mean())
print(a['key1'].min())
print(a['key1'].max())
print(a.sum())

In [ ]:
print(a)
a.sum(axis=0)#par colonne

In [ ]:
a.sum(axis=1) #par ligne 
#enlève la colonne contenant un string

In [ ]:
#acces to the second column
df.iloc[1:2]

In [ ]:
df[1].key2