In [ ]:
import this

# Problem

To convert the temperature from Fahrenheit to Celcius 
input - Temperature in Fahrenheit 
output - Temperature in Celsius 
output message - the temperature in F is this temperature in C

x = function to prompt input message
y = (x - 32)*5/9
print"the temperature in F is this temperature in c"

In [ ]:
x = input ("What is the temperature in F?")
y= (int(x) - 32)*5/9
print("the temperature in F is this temperature in C.",y)

x = choose F or C
t=the temperature to work with
y= converted temperature

x= function to prompt input message of choice
t= function to prompt input message of temperature
y= if F then from F to C else from C to F


if F then 
print("the temperature in F is ?? temperature in C")
else 
print
print("the temperature in C is ?? temperature in F")

In [ ]:
x= input("F or C ?")
t=input("what is the temperature to convert?")
y= 0
if x=='F':
    y=(int(t)-32)*5/9
elif x=='C':
    y=int(t)*9/5+32
else:
    print("rejected!")
    
if x=='F':
    print("the temperature in F is % temperature in C." %y)
else:
    print("the temperature in C is %s temperature in F."%y)

In [ ]:
x = input("F or C ?")
t = input("what is the temperature to convert?")
y = 0
if x=='F':
    y = (int(t)-32)*5/9
    print("the temperature in F is %s temperature in C." %y)
elif x=='C':
    y=int(t)*9/5+32
    print("the temperature in C is %s temperature in F."%y)
else:
    print("rejected!")

x = function to prompt input message of choice 
loop while true
if x is bad
    then error message 
    ask again
    
t= function to prompt input message of temperature
y= if F then from F to C else from C to F


if F then 
print("the temperature in F is ?? temperature in C")
else 
print
print("the temperature in C is ?? temperature in F")

In [2]:
x = input("F or C ?").capitalize()  # uppper or lower to make the the letters uppercase
while x not in ['F','C']:
    print("DOESN'T EXIST. YOU ARE FIRED !!")
    x = input("F or C ?").capitalize()
t = input("what is the temperature to convert?")
y = 0
if x=='F':
    y = (int(t)-32)*5/9
    print("the temperature in F is %s temperature in C." %y)
elif x=='C':
    y=int(t)*9/5+32
    print("the temperature in C is %s temperature in F."%y)
else:
    print("rejected!")

F or C ?c
what is the temperature to convert?17
the temperature in C is 62.6 temperature in F.

In [ ]:
x = input("F or C ?").capitalize()  # uppper or lower to make the the letters uppercase
for i in range (20):
    
    if x not in ['F','C']:
        print("DOESN'T EXIST. YOU ARE FIRED !!")
        x = input("F or C ?").capitalize()
    else:
        print("rejected!")
        break
        
    
    
t = input("what is the temperature to convert?")
y = 0
if x=='F':
    y = (int(t)-32)*5/9
    print("the temperature in F is %s temperature in C." %y)
else x=='C':
    y=int(t)*9/5+32
    print("the temperature in C is %s temperature in F."%y)

In [1]:
x = input("F or C ?").capitalize()  # uppper or lower to make the the letters uppercase
counter=0

while x not in ['F','C'] and counter <5:
    print("DOESN'T EXIST. YOU ARE FIRED !!")
    x = input("F or C ?").capitalize()
    counter +=1
    

if counter<5:
    t = input("what is the temperature to convert?")
    y = 0
    if x=='F':
        y = (int(t)-32)*5/9
        print("the temperature in F is %s temperature in C." %y)
    elif x=='C':
        y=int(t)*9/5+32
        print("the temperature in C is %s temperature in F."%y)
else:
    print("you are dumb.I got bored")

F or C ?1
DOESN'T EXIST. YOU ARE FIRED !!
F or C ?1
what is the temperature to convert?
you are dumb.I got bored
DOESN'T EXIST. YOU ARE FIRED !!
F or C ?1
what is the temperature to convert?1
you are dumb.I got bored
DOESN'T EXIST. YOU ARE FIRED !!
F or C ?1
what is the temperature to convert?1
you are dumb.I got bored
DOESN'T EXIST. YOU ARE FIRED !!
F or C ?
what is the temperature to convert?1
you are dumb.I got bored
DOESN'T EXIST. YOU ARE FIRED !!
F or C ?1
what is the temperature to convert?1
you are dumb.I got bored

ERROR:root:Invalid alias: The name clear can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name more can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name less can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name man can't be aliased because it is another magic command.

type(124)

In [13]:
word= 'vehicle'
list1= ['cargo','batman','kyrgyzstan']
list2=['portrait']
numeric_list=[0,3,7,9]

In [2]:
len(word)

7

In [19]:
list1.append('arch')

In [20]:
list1.pop(2) #it print and remove the element that we deleted

'arch'

In [21]:
len(list2)

1

In [22]:
list1.remove('arch')

In [23]:
list1

['cargo', 'batman']

In [24]:
for i in numeric_list:
    list1.append(i)

In [25]:
list1

['cargo', 'batman', 0, 3, 7, 9]

In [26]:
list1 + list2

['cargo', 'batman', 0, 3, 7, 9, 'portrait']

In [27]:
'batman' in list1

True

In [29]:
'batman' in list2

False

In [30]:
word + 'crash'

'vehiclecrash'

In [31]:
sum(numeric_list)

19

In [32]:
min(numeric_list)

0

In [33]:
max(numeric_list)

9

In [34]:
len(numeric_list)

4

In [36]:
dict={'1':[1,2,3], '2':(2,3,4), '3':{3,4,5}}

In [37]:
dict['2']

(2, 3, 4)

In [38]:
dict['2'][1]

3

In [39]:
dict['3'][2] # sets have no indexes !!

TypeError: 'set' object is not subscriptable

In [40]:
4 in dict['3']

True

In [41]:
list({1,2,3,4,5,2,1}) #la liste enlève les répétitions

[1, 2, 3, 4, 5]

In [42]:
dict.keys()

dict_keys(['1', '2', '3'])

In [43]:
dict.values()

dict_values([[1, 2, 3], (2, 3, 4), {3, 4, 5}])

In [46]:
dict1={1:[1,2,3], 2:(2,3,4), 3:{3,4,5}}

In [47]:
dict1[1]

[1, 2, 3]

In [49]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [50]:
love=this

In [51]:
this is love

True

In [52]:
love is True

False

In [53]:
love is False

False

In [54]:
love is not True

True

In [55]:
love is not False

True

In [56]:
love is love

True

In [57]:
(100<75)&(99<0)

False

In [58]:
(100<75)and (99<0)

False

In [59]:
(100<75)or(99<0)

False

In [60]:
(100<75)|(99<0)

False

In [65]:
commute=30
rain = False
traffic = False

if (rain == True):
    total_commute = commute
else:
    if traffic == True:
        total_commute = commute + 60+30
    else:
        total_commute = commute + 30
print("my total commute time is expeced to be ", total_commute, 'minutes.')

my total commute time is expeced to be  60 minutes.

In [67]:
total_commute = commute + (1-rain)*traffic*30 + (1-rain)*60
total_commute

90

In [68]:
type(range(4)) # range est soi même une classe

range

In [72]:
range(4)

range(0, 4)

In [73]:
range(4)[1]

1

In [76]:
for i in range(20,10,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11

In [83]:
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [86]:
fruits = ['apple', 'orange', 'banana', 'grapes', 'pineapple']
ages = {'Ambre': 31 , 'Eleonore':24, 'Jordan': 26, 'Julia':29, 'Marguerite': 33, 'Meriem': 27, 'Thomas': 38}

In [87]:
for i in fruits:
    print(i)

apple
orange
banana
grapes
pineapple

In [88]:
for i in range(len(fruits)):
    print(i,fruits[i])

0 apple
1 orange
2 banana
3 grapes
4 pineapple

In [89]:
for i,item in enumerate(fruits)
print(i,item)

SyntaxError: invalid syntax (<ipython-input-89-a489f22feb02>, line 1)

In [90]:
for i in ages:
    print(i)

Ambre
Eleonore
Jordan
Julia
Marguerite
Meriem
Thomas

In [92]:
for i in len(range(ages)):
    print(i)

TypeError: 'dict' object cannot be interpreted as an integer

In [91]:
for i in ages.values():
    print(i)

31
24
26
29
33
27
38

In [93]:
for i in ages.keys():
    print(i)

Ambre
Eleonore
Jordan
Julia
Marguerite
Meriem
Thomas

In [94]:
for name, age in ages.items():
    print(name,'is',age,'y.o.')

Ambre is 31 y.o.
Eleonore is 24 y.o.
Jordan is 26 y.o.
Julia is 29 y.o.
Marguerite is 33 y.o.
Meriem is 27 y.o.
Thomas is 38 y.o.

In [95]:
for i,item in enumerate(ages.items()):
    print(i,item[0],item[1])

0 Ambre 31
1 Eleonore 24
2 Jordan 26
3 Julia 29
4 Marguerite 33
5 Meriem 27
6 Thomas 38

In [96]:
for i,item in enumerate(ages):
    print(i,item[0],item[1])

0 A m
1 E l
2 J o
3 J u
4 M a
5 M e
6 T h

In [100]:
total_time = 60
minutes_past = 0
waiting_time = int(input('what is the time gap between the girl checks the oven'))
print('cake is in the oven')

while minutes_past+waiting_time<total_time:
    print('Cake is not ready. Get out of the kitchen')
    minutes_past+=waiting_time 
    print('Cake is ready !!')

what is the time gap between the girl checks the oven10
cake is in the oven
Cake is not ready. Get out of the kitchen
Cake is ready !!
Cake is not ready. Get out of the kitchen
Cake is ready !!
Cake is not ready. Get out of the kitchen
Cake is ready !!
Cake is not ready. Get out of the kitchen
Cake is ready !!
Cake is not ready. Get out of the kitchen
Cake is ready !!

In [102]:
lst=[]
for i in range(10):
    lst.append(i)
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
lst1=[i for i in range(10)]
lst1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
x=4
print(['yes' for i in range(4) if x>0])
lst=[]
for i in range (4):
    lst.append('yes')
lst

['yes', 'yes', 'yes', 'yes']

['yes', 'yes', 'yes', 'yes']

In [107]:
lst_lst=[[1,2,3],[1,2,3,4],['yes','no']]
lst_lst

[[1, 2, 3], [1, 2, 3, 4], ['yes', 'no']]

In [108]:
vals=[]
for i in lst_lst:
    for j in i:
        vals.append(j)
print(vals)
[j for i in lst_lst for j in i ]

[1, 2, 3, 1, 2, 3, 4, 'yes', 'no']

[1, 2, 3, 1, 2, 3, 4, 'yes', 'no']

In [ ]:
vals=[]
for i in lst_lst:
    if len(i)>3:
        for j in i:
            vals.append(j)
print(vals)

In [111]:
[j**2 for i in lst_lst if len(i)>3  for j in i]

[1, 4, 9, 16]

In [112]:
vals=[]
for i in lst_lst:
    if len(i)==3:
        for j in i:
            vals.append(j)
    elif len(i)==4:
        for j in i :
            vals.append(j**2)
    else:
        for j in i:
            vals.append(len(j))

print(vals)

[j if len(i)==3 else j**2 if len(i==4) else len(j) for i in lst_lst for j in i]

[1, 2, 3, 1, 4, 9, 16, 3, 2]

In [ ]:
import pandas as pd
#pandas.read_csv('myFile.csv', sep = '\t')